*{
    margin: 0px;
    padding: 0ps;
}
body{
    overflow: hidden;
}
.sky{
    height: 100vh;
    width: 100vw;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;

}

.trees{
    height: 100vh;
    width: 100vw;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top: -18vh;
}

.track{
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    /* background-size: cover; */
    position: absolute;
    top: 70vh;
    animation: carmove linear 13s infinite;
}

.car{
    height: 100px;
    width: 300px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 14vw;
    bottom: 30vh;
    animation: shake linear .4s infinite;
}

.wheel1 img{
    height: 77px;
    position: relative;
    top: 38px;
    left: 36px;
    animation: wheelRotation linear .6s infinite;
}

.wheel2 img{
    height: 77px;
    position: relative;
    top: -43px;
    left: 215px;
    animation: wheelRotation linear .6s infinite;
}
@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carmove {
    100%{
        transform: translateX(-500vw);
    }
}

@keyframes shake {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

button{
    position: relative;
    cursor: pointer;
    display: block;
    background-color: rgb(188 188 244);
    border: 2px solid black;
    margin: auto;
    height: 7vh;
    width: 13vw;
    border-radius: 1rem;
    margin-top: 3vh;
    font-weight: bold;
}
button:hover{
    background-color: rgb(255, 147, 147);
}
button:active{
    background-color: rgb(145, 250, 141);
}